<input name="password" id="password"
       class="string {{ =('error clarified' if form.errors.password else '') }}"
       placeholder="{{ =T('Password') }}"
       type="password"
       value="{{ =request.vars.password or '' }}" />
<br>
{{ if form.errors.password == T('Enter a value'): }}
<small class="error-message">{{ =T('You must enter a password; this cannot be blank.') }}</small>
{{ elif form.errors.password: }}
<small class="error-message">{{ =form.errors.password }}</small>
{{ pass }}