<input name="username" id="username"
       class="string {{ =('error clarified' if form.errors.username else '') }}"
       placeholder="{{ =T('Username') }}"
       autofocus="true"
       type="text"
       value="{{ =request.vars.username or '' }}" />
<br>
{{ if form.errors.username == T('Value not in database'): }}
<small class="error-message">{{ =T('There is no user with that username.') }}</small>
{{ elif form.errors.username == T('Enter a value'): }}
<small class="error-message">{{ =T('You must enter a username; this cannot be blank.') }}</small>
{{ elif form.errors.username: }}
<small class="error-message">{{ =form.errors.username }}</small>
{{ pass }}
{{ if form.errors.username: }}
<br>
{{ pass }}