{{ extend 'layout.html' }}
<section>
    <h2>About Civil Discourse</h2>
    <p>
        We, the creators of Civil Discourse, are people who like arguing on the internet (who doesn't?). 
        We found that there's not really been a medium allowing people to do so with any grace or efficiency.
        Discussions can rapidly get hectic and hard to follow, with people bringing in new arguments for their position, or addressing issues that were raised many comments ago.
        We thought we could do better, so this is us trying to do just that.
    </p>
</section>