<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}">
    <head>
        <title>
            {{ block title }}Civil Discourse{{ end }}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Structured Argument Facilitator" />
        <meta name="keywords" content="Argument, Debate, Discussion, Logic, Reason" />
        
        <link type="text/css" href="{{ =URL('static', 'css/default.css') }}" rel="stylesheet" />
        <link type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
        <link type="text/css" href="{{ =URL('static', 'css/puff.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ =URL('static', 'css/cd.css') }}" rel="stylesheet" />
        {{ block styles }}
        {{ end }}
    </head>
    <body>
        <header>
            <div role=banner>
                <h1>
                    {{ block headline }}
                    Civil Discourse
                    {{ end }}
                </h1>
            </div>
            <nav class="horizontal" role=navigation>
                <ul>
                    <li><a href="{{ =URL('default', 'index') }}" title="{{ =T('Homepage') }}" tabindex="1"><span class="fa fa-home"></span>{{ =T('Home') }}</a></li>
                    <li><a href="{{ =URL('discussion', 'new') }}" title="{{ =T('New Discussion') }}" tabindex="1"><span class="fa fa-plus"></span>{{ =T('New Discussion') }}</a></li>
                </ul>
                <form action="{{ =URL('discussion', 'search') }}" method="get" role=search>
                    <input type="search" role=search name="search_text" class="appended prepended" placeholder="{{ =T('Search Discussions') }}" tabindex="2">
                    <button type="submit" class="append search" tabindex="2" title="{{ =T('Search') }}"><span class="fa fa-search" title="{{ =T('Go') }}"></span></button>
<!--                    <input type="submit" value="{{ =T('Go') }}" class="append search" tabindex="2">-->
                </form>
                <ul class="float-right">
                    {{ if session.logged_in_user: }}
                    <li><a href="{{ =URL('user', 'profile') }}" title="{{ =T('User Profile') }}" tabindex="3"><span class="fa fa-user"></span>{{ =db.user(session.logged_in_user).username }}'s Profile</a></li>
                    <li><a href="{{ =URL('user', 'logout') }}" title="{{ =T('Log Out') }}" tabindex="3"><span class="fa fa-sign-out"></span>{{ =T('Log Out') }}</a></li>
                    {{ else: }}
                    <li><a href="{{ =URL('user', 'register') }}" title="{{ =T('User Registration') }}" tabindex="3"><span class="fa fa-user-plus"></span>{{ =T('Register') }}</a></li>
                    <li><a href="{{ =URL('user', 'login') }}" title="{{ =T('Log In') }}" tabindex="3"><span class="fa fa-sign-in"></span>{{ =T('Log In') }}</a></li>
                    {{ pass }}
                </ul>
            </nav>
            {{ block flash }}
            {{ if response.flash: }}
            <div role=note class="alert alert-success">
                {{ =T(response.flash) }}
            </div>
            {{ pass }}
            {{ end }}
        </header>
        <main role=main>
            {{ include }}
            {{ pass }}
        </main>
        <footer>
            <span class="mirrored">&copy;</span> Copyleft IMP1 2015 &mdash;
            <a href="https://github.com/IMP1/civil-discourse" title="{{ =T('Github Repository') }}" target="_blank">
                <span class="fa fa-github"></span>
                Civil Discourse Github<sup><span class="fa fa-external-link" title="{{ =T('external link') }}"></span></sup>
            </a>
        </footer>
        {{ block scripts }}
        {{ end }}
    </body>
</html>