<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}">
    <head>
        <title>
            {{ block title }}Civil Discourse{{ end }}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Structured Argument Facilitator" />
        <meta name="keywords" content="Argument, Debate, Discussion, Logic, Reason" />
        
        <link type="text/css" href="{{ =URL('static', 'css/default.css') }}" rel="stylesheet" />
        <link type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
        <link type="text/css" href="{{ =URL('static', 'css/puff.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ =URL('static', 'css/cd.css') }}" rel="stylesheet" />
        
    </head>
    <body>
        <header>
            <h1>
                {{ block headline }}
                Civil Discourse
                {{ end }}
            </h1>
            <nav class="horizontal">
                <ul>
                    <li><a href="{{ =URL('default', 'index') }}" tabindex="1"><span class="fa fa-home"></span> {{ =T('Home') }}</a></li>
                    <li><a href="{{ =URL('discussion', 'new') }}" tabindex="3"><span class="fa fa-plus"></span> {{ =T('New Discussion') }}</a></li>
                </ul>
                <form action="{{ =URL('discussion', 'search.html') }}" method="post">
                    <input type="search" name="search_text" class="appended prepended" placeholder="{{ =T('Search Discussions') }}" tabindex="2">
                    <input type="submit" value="Go" class="append search" tabindex="2">
                </form>
                <ul class="float-right">
                    {{ if session.logged_in_user: }}
                    <li><a href="{{ =URL('user', 'profile') }}" tabindex="3">{{ =db.user(session.logged_in_user).username }}</a></li>
                    <li><a href="{{ =URL('user', 'logout') }}" tabindex="3">{{ =T('Log Out') }}</a></li>
                    {{ else: }}
                    <li><a href="{{ =URL('user', 'login') }}" tabindex="3">{{ =T('Log In') }}</a></li>
                    <li><a href="{{ =URL('user', 'register') }}" tabindex="3">{{ =T('Register') }}</a></li>
                    {{ pass }}
                </ul>
            </nav>
        </header>
        <main>
            {{ include }}
            {{ pass }}
        </main>
        <footer>
            <span class="mirrored">&copy;</span> Copyleft IMP1 2015
        </footer>
    </body>
</html>