{{ extend 'layout.html' }}
{{ block flash }}
{{ if form.errors: }}
<div role=note class="alert alert-error">
    {{ =response.flash }}
</div>
{{ elif response.flash: }}
<div role=note class="alert alert-success">
    {{ =response.flash }}
</div>
{{ pass }}
{{ end }}
<section>
    <h2>Login</h2>
    <form id="login-form" action="#" enctype="multipart/form-data" method="post" class="centre-align break">
        <div class="central">
            {{ include 'form/input/username.html' }}
            {{ include 'form/input/password.html' }}
        </div>
        <input type="submit" value="{{ =T('Log in') }}">
        <div style="display:none;">
            <input name="_formkey" 
                   type="hidden" 
                   value="{{ =form.formkey }}">
            <input name="_formname" 
                   type="hidden" 
                   value="{{ =form.formname }}">
        </div>
    </form>
</section>