nav#useful-links {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

nav#useful-links li {
    margin-left: 2rem;
    margin-right: 2rem;
}

nav#useful-links a {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 1px;
}

nav#useful-links a:hover {
    padding-bottom: 0;
}