{{ extend 'layout.html' }}
<section>
    <h2>{{ =T("Create a new discussion") }}</h2>
    <p>
        {{ =T("Enter a discussion title and the topic for your discussion into the boxes below.") }}
        {{ =T("You'll be sent to your newly created discussion and from there you can copy & paste the URL to send round to encourage discussion.") }}
    </p>
    <form id="convo-creation"
          action="#" enctype="multipart/form-data" method="post" 
          class="centre-align">
        <div class="central">
            <input name="title" id="title"
                   autofocus="true"
                   placeholder="{{ =T('Discussion Title') }}"
                   type="text" />
            <textarea name="contents" id="contents"
                      placeholder="{{ =T('Discussion Topic') }}"
                      class="message-creation"></textarea>
        </div>
        <input type="submit" 
               value="{{ =T('Start Discussion') }}" />
        <div style="display:none;">
            <input name="_formkey" 
                   type="hidden" 
                   value="{{ =form.formkey }}" />
            <input name="_formname" 
                   type="hidden" 
                   value="{{ =form.formname }}" />
        </div>
    </form>
</section>