{{ extend 'layout.html' }}
{{ block flash }}
{{ if form.errors: }}
<div role=note class="alert alert-error">
    {{ =response.flash }}
</div>
{{ elif response.flash: }}
<div role=note class="alert alert-success">
    {{ =response.flash }}
</div>
{{ pass }}
{{ end }}
<section>
    <h2>{{ =T("Create a new discussion") }}</h2>
    <p>
        {{ =T("Enter a discussion title and the topic for your discussion into the boxes below.") }}
        {{ =T("You'll be sent to your newly created discussion and from there you can copy & paste the URL to send round to encourage discussion.") }}
    </p>
    <form id="convo-creation"
          action="#" enctype="multipart/form-data" method="post" 
          class="centre-align">
        <div class="central">
            <input name="title" id="title"
                   autofocus="true"
                   placeholder="{{ =T('Discussion Title') }}"
                   value="{{ =request.vars.title or '' }}"
                   class="{{ =('error clarified' if form.errors.title else '') }}"
                   type="text" />
            <br>
            {{ if form.errors.title: }}
            <small class="error-message">{{ =T(form.errors.title) }}</small>
            <br>
            {{ pass }}
            <textarea name="contents" id="contents"
                      placeholder="{{ =T('Discussion Topic') }}"
                      class="message-creation {{ =('error clarified' if form.errors.contents else '') }}">{{ =request.vars.contents or '' }}</textarea>
            {{ if form.errors.contents: }}
            <small class="error-message">{{ =T(form.errors.contents) }}</small>
            <br>
            {{ pass }}
        </div>
        <input type="submit" 
               value="{{ =T('Start Discussion') }}" />
        <div style="display:none;">
            <input name="_formkey" 
                   type="hidden" 
                   value="{{ =form.formkey }}" />
            <input name="_formname" 
                   type="hidden" 
                   value="{{ =form.formname }}" />
        </div>
    </form>
</section>