{{ extend 'layout.html' }}
<section>
    <h2>Rules of Civil Discourse</h2>
    <p>
        There aren't many rules, and all are up for discussion. Because of this, it may be hard to keep up with the rules and difficult to avoid breaking any. Ideally we'll reach a point where the rules are the best we can get them, so if you're worried or care about this, try and help the rules get to the as-good-as-possible point!
    </p>
    <ol>
        <li>No posting anything illegal that can get the website shut down.</li>
    </ol>
    Feel free to <a href="{{ =URL('discussion', 'new') }}">start a discussion</a> about any of these rules. To find the ongoing dicussions about any of the rules, you can search for discussions with the <a href="{{ =URL('discussion', 'search', vars={'search_tag': 'cd-rules'}) }}" class="tag">cd-rules</a> tag.
</section>