{{ extend 'layout.html' }}
<section>
    <h2>{{ =T('Search Results for "%s"', symbols=request.vars.search_text) }}</h2>
    <ul class="unlabled conversation-list">
        {{ for discussion in discussions.getDiscussionSearchResults(db, request.vars.search_text): }}
        <li>
            <h3>
                {{ =discussions.highlightWords(discussion.title, request.vars.search_text) }}
                {{ if discussions.hasUserContributed(db, discussion.id, session.logged_in_user): }}
                <sup title="{{ =T('You have contributed to this discussion') }}" class="fa fa-exclamation"></sup>
                {{ pass }}
            </h3>
            <div class="tag-list">
                {{ if discussions.hasSiteTags(db, discussion.id): }}
                <span title="{{ =T('Site Tags') }}" class="fa fa-tag site-tag"></span>
                {{ for tag in discussions.getSiteTags(db, discussion.id): }}
                <span>{{ =discussions.highlightWords(tag.name, request.vars.search_text) }}</span>
                {{ pass }}
                {{ pass }}
                {{ if discussions.hasUserTags(db, discussion.id): }}
                <span title="{{ =T('User Tags') }}" class="fa fa-tag user-tag"></span>
                {{ for tag in discussions.getUserTags(db, discussion.id): }}
                {{ pass }}
                <span>{{ =discussions.highlightWords(tag.name, request.vars.search_text) }}</span>
                {{ pass }}
                <span class="fa fa-tag site-tag fa-lg"></span>
                <span class="tag">cd-meta</span>
                <span class="tag">cd-rules</span>
            </div>
            {{ count = discussions.getMessageCount(db, discussion.id) }}
            {{ =T('There %%{is} %d %%{comment}.', symbols=count) }}
            {{ =T('The most recent was %s.', symbols=discussions.getLastMessageTime(db, discussion.id)) }}
            <div class="conversation-links">
                <a href="{{ =URL('discussion', 'view', args=[discussion.id]) }}" title="Discussion {{ =discussion.id }}">
                    {{ =T('Go to original post') }}
                </a>
                {{ message = discussions.getMostRecentMessage(db, discussion.id) }}
                <a href="{{ =URL('discussion', 'view', args=[discussion.id], anchor='message-'+str(message.id)) }}" title="Discussion {{ =discussion.id }}">
                    {{ =T('Go to latest comment') }}
                </a>
            </div>
        </li>
        {{ pass }}
    </ul>
</section>