{{ extend 'layout.html' }}
{{ block scripts }}
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{{ =URL('static', 'js/discussion_refresher.js') }}"></script>
{{ end }}
{{ block styles }}
<link type="text/css" href="{{ =URL('static', 'css/cd-discussion.css') }}" rel="stylesheet" />
{{ end }}
{{ block flash }}
{{ if form.errors: }}
<div role=note class="alert alert-error">
    {{ =response.flash }}
</div>
{{ elif response.flash: }}
<div role=note class="alert alert-success">
    {{ =response.flash }}
</div>
{{ pass }}
{{ end }}
<article id="discussion-contents">
    <h2 class="centre-align">{{ =db.conversation[discussion_id].title }}</h2>
    {{ for message in discussions.getMessages(db, discussion_id): }}
    <div id="message-{{=message.id}}" class="message">
        <div class="message-author">
            {{ =db.user(message.author).username }}
        </div>
        <div class="arrow-left"></div>
        <div class="message-content">
            <p class="message">{{ =message.contents }}</p>
        </div>
    </div>
    {{ pass }}
</article>
{{ if session.logged_in_user: }}
<form id="convo-addition"
      action="#" enctype="multipart/form-data" method="post" 
      class="centre-align">
    <div class="central">
        <textarea name="contents" id="contents"
                  class="{{ =('error clarified' if form.errors.contents else '') }}"
                  placeholder="{{ =T('Write your reply here.') }}"></textarea>
        {{ if form.errors.contents: }}
        <small class="error-message">{{ =T(form.errors.contents) }}</small>
        <br>
        {{ pass }}
    </div>
    <input type="submit" 
           value="{{ =T('Add to Discussion') }}" />
    <div style="display:none;">
        <input name="_formkey" 
               type="hidden" 
               value="{{ =form.formkey }}" />
        <input name="_formname" 
               type="hidden" 
               value="{{ =form.formname }}" />
    </div>
</form>
{{ else: }}
<div class="centre-align">
    You need to be signed in to add to this discussion.
    <a href="{{ =URL('user', 'login', vars={'redirect': URL(args=request.args, vars=request.vars)}) }}" title="Login">Log in</a> or 
    <a href="{{ =URL('user', 'register', vars={'redirect': URL(args=request.args, vars=request.vars)}) }}" title="User Registration">Register</a>.
</div>
{{ pass }}